.courses {
    margin-top: 0px;
}

.sub-courses div {
    text-align: center;
    height: 150px;
    width: 25%;
    padding: 40px 20px;
    margin: 30px 0;
    box-shadow: 10px 11px 20px 6px rgba(0, 0, 0, 0.21);
    border-radius: 5px;
}

.sub-courses div p {
    text-align: left;
    width: 70%;
    margin: auto;
    margin-top: 10px;
}

:root {
    --gray: #525e75;
    --gold: #e7b147;
}

/* Dropdown */

.dropdown-container {
    display: inline-block;
    position: relative;
}

.dropdown-container:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    border-radius: 3px;
}

.dropdown-container .dropdown a {
    display: block;
    width: 100%;
    margin: 0 !important;
    padding: 15px 10px;
    border-bottom: 1px solid black;
    color: black !important;
    text-decoration: none;
    transition: 0.2s background-color;
}

.dropdown-container .dropdown a:hover {
    background-color: #f1f1f1;
}

/* Popup */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.popupdata {
    background-color: white;
    height: 470px;
    width: 600px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 10px 11px 20px 6px rgba(0, 0, 0, 0.21);
}

.popuph1 {
    width: 100%;
    text-align: center;
    padding-top: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.popupdiv {
    display: flex;
    flex-direction: column;
}

.popupinput {
    width: 60%;
    height: 50px;
    margin: auto;
    border: none;
    border-bottom: 3px solid #525e75;
    font-size: 20px;
    outline: none;
}

.popupbut {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    height: 40px;
    background-color: #e7b147;
    color: white;
    border: none;
    font-size: 20px;
    letter-spacing: 2px;
}

.popupbut:hover {
    background-color: #d1a242;
}

/* Header */

header {
    background-color: var(--gray);
    position: sticky;
    top: 0;
    right: 0;
}

.header-menu {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu img {
    height: 60px;
}

.header-menu .header-menu-items {
    display: inline-block;
    margin: 0;
    font-size: 0.9rem;
}

.header-menu .header-menu-items li {
    display: inline-block;
    margin-left: 20px;
}

.header-menu .header-menu-items li a {
    text-decoration: none;
    color: white;
    transition: 0.2s all;
}

.header-menu .header-menu-items li .active {
    border-bottom: 3px solid var(--gold);
    padding-bottom: 28px;
}

.header-menu .header-menu-items li a:hover {
    color: var(--gold);
}


/* .header-menu .header-menu-items .profile {
  font-weight: bold;
  color: var(--gold);
}

.header-menu .header-menu-items .profile:hover {
  text-decoration: underline;
} */

#profile {
    background: transparent;
    border: none;
}

.header-menu .header-menu-items #profile {
    font-weight: bold;
    color: var(--gold);
}

.header-menu .header-menu-items #profile:hover {
    text-decoration: underline;
}

/* Footer */

footer {
    background-color: var(--gray);
    padding: 40px 0;
}

footer>div {
    display: flex;
    justify-content: space-evenly;
}

footer>div>section {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: 33%;
}

footer .heading {
    color: white;
    display: block;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.map-container {
    overflow: hidden;
}

.map img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    transition: 0.3s transform;
}

.map img:hover {
    transform: scale(130%);
}

.courses-footer .courses-list {
    width: 400px;
}

.courses-footer .courses-list a {
    display: block;
    text-decoration: none;
    color: white;
    transition: 0.2s all;
}

.courses-footer .courses-list a:hover,
.contact-info .contact-container .email a:hover {
    color: var(--gold);
}

.contact-info .contact-container div {
    color: white;
    margin-top: 20px;
}

.contact-info .contact-container div span {
    font-weight: bold;
}

.contact-info .contact-container .email a {
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

.copyright {
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright div {
    margin: 0px 320px;
    margin-top: 40px;
}